*{
  margin: 0;
}

.root{
  overflow: auto;
}

.desktop{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vmin;
}

.mobile {
  display: none;
}

@media screen and (max-width: 960px){
  .mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    min-width: 80vmin;
  }

  .mobile > * {
    min-width: 100%;
  }

  .desktop {
    display: none;
  }
}

body {
  background-color: #82eb79;
  min-width: 180vmin;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.column {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.App-header {
  background-color:#00773c;
  text-shadow: 2px 2px 2px #82eb79;
  width: calc(100px + 15vmin);
  border-radius: 5px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 1vmin;
}

.Card-header {
    background-color:#00773c;
    border-radius: 5px;
    font-size: calc(10px + 2vmin);
    margin: 0;
    padding: 0;
    width: 100%;
}

.Card {
    max-width: fit-content;
    background-color: #00cc00;
    color: white;
    border-radius: 5px;
    margin: 1vmin;
}

.buttons {
    text-align: center;
    background-color:#282c34;
    border-radius: 5px;
    color: white;
    margin: 1vmin auto;
    padding: 1vmin;
    border: none;
}

.buttons:hover{
    background-color: #4f4f4f;
    cursor: pointer;
}

.buttons a {
  color: white;
  text-decoration: none;
}