.InputForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

input {
    margin: 15px;
    border: none;
    border-radius: 5px;
    margin: 2vmin auto;
}

input:focus {
    box-shadow: 0px 0px 3px 3px #00773c;
    outline: none;
}

#response {
    white-space: pre-wrap;
    font-weight: bold;
    text-shadow: 2px 2px 2px #00773c;
    padding: 20px;
    margin: 2vmin auto;
    width: calc(100px + 15vmin);
    overflow-wrap: break-word;
}